

$global_min_size:20px;
$global_background_color:#f8f8f8;

$global_padding: $global_min_size;
$global_margin:$global_min_size;


$global_border_style:1px solid #ddd;

$xs:  "only screen and (max-width:767px)";
$sm: "only screen and (min-width:768px)";
$md:  "only screen and (min-width:992px)";
$lg:  "only screen and (min-width:1200px)";
body{
	font-family:游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
@import "compass/css3/";
@import "style/mixin/form";
@import "style/common";
@import "style/custom";

@import "style/blog_index";
@import "style/auth_index";