/****************************************************************************************
 * 共通設定
 *****************************************************************************************/
 .no_border{
 	border:none !important;
 }
 ul{
 	padding: 0;
 }
 ul li{
 	list-style: none;
 }


/****************************************************************************************
 * マージン設定
 *****************************************************************************************/
//マージンボトムを沸かす
//10～10刻みで150まで
@for $i from 1 through 15 {
	.margin_b#{$i*10} {
		margin-bottom:#{$i*10}px;
	}
}

/****************************************************************************************
 * フォントサイズ設定
 *****************************************************************************************/
//フォントサイズを設定する
//1.2から0.2刻みで3まで
@for $i from 1 through 10 {
	.font#{($i*2)+10} {
		font-size:#{(($i*2)+10)/10}em;
	}
}