/**************************************************
新規作成画面の設定
***************************************************/
#input_form_block{
	padding-left: $global_min_size/2;
}
#input_form_dl{
	dt.err_input,
	{
		color:#a94442;
	}
	input[type="text"].err_input,
	select.err_input,
	textarea.err_input{
		border-color: #a94442;
	}
	.radio_warp{
		.err_input{
			color:#a94442;
		}
		.radio{
			display: inline-block;
			margin: 0 $global_min_size/2 5px;
			// margin-bottom: 5px;
			// margin-left: $global_min_size/2;
			input[type="radio"]{
				position: static;
				margin-left: 0;
			}
			label{
				padding-left: 10px;
			}
		}
	}
	// dt{
	// 	width: $global_min_size*;
	// }
	dd{
		margin: 5px 0;
		p.err{
			padding-top:$global_min_size/4;
			margin-left: $global_min_size/2;
		}
	}
}
.input_form_dl_r{
	@media #{$md} {
		padding-left: $global_min_size;
	}
}
.button_area{
	input[type="button"] ,
	input[type="submit"]{
		margin-right: $global_min_size/2;
	}
}
/**************************************************
詳細画面の設定
***************************************************/
.msg_bloc{
	margin-top: $global_min_size*2;
	h3{
		margin-top: 0;
	}
	.msg_unit{
		margin-left: $global_margin;
		margin-bottom: $global_margin;
		label{
			margin-bottom: 0;
		}
		p{
			margin-left: $global_margin/2;
			padding: $global_padding;
			border: $global_border_style;
			border-radius: 10px;
		}
	}
}
#input_form_block{
	.rep_message_fixed{
		@media #{$md} {
			position: fixed;
			top:10px;
			margin-left: 48%;
		}
	}
}