/**************************************************
一覧画面の設定
***************************************************/
#massage_list_hidden_flg{
	// width: 20%;
	float: left;
	background: $global_background_color;
	padding: $global_padding/2 $global_padding;
	border-radius: $global_min_size/2;
	label{
		margin-bottom: 0;
		input{
			position: relative;
			top: 1px;
			margin-right: $global_min_size/2;
		}
	}
}
#message_table{
	table{
		a{
			color:#333;
			display: block;
		}
		tr.comp{
			td{
				background: #cccccc;
			}
		}
	}
}